<div class="row">
  <h2>{{ title }}</h2>
</div>
<div class="row">
  <form novalidate (ngSubmit)="onSubmit()" #form="ngForm" class="form-horizontal">
      <fieldset>

        <div class="form-group">
          <label class="col-md-4 control-label right" for="txtKey">Organisation Key:</label>
          <div class="col-md-5">
              <input type="text" class="form-control" id="txtKey" required [(ngModel)]="entity.key" name="key" />
          </div>          
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label right" for="txtLegalName">Legal Name:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="txtLegalName" required [(ngModel)]="entity.legalName" name="legalName" />
            </div>          
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="txtAddressType">Address Type:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="txtAddressType" required [(ngModel)]="entity.address.addressType" name="addressType" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="txtAddressLine1">Address Line 1:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="txtAddressLine1" required [(ngModel)]="entity.address.addressLine1" name="addressLine1" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="txtAddressLine2">Address Line 2:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="txtAddressLine2" [(ngModel)]="entity.address.addressLine2" name="addressLine2" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="txtAddressLine3">Address Line 3:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="txtAddressLine3" [(ngModel)]="entity.address.addressLine3" name="addressLine3" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="txtAddressCity">City:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="txtAddressCity" required [(ngModel)]="entity.address.city" name="city" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="txtAddressPostcode">Post Code:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="txtAddressPostcode" required [(ngModel)]="entity.address.postCode" name="postCode" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="txtState">State:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="txtState" required [(ngModel)]="entity.address.state" name="state" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="txtCountry">Country:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="txtCountry" required [(ngModel)]="entity.address.country" name="country" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="txtPhone">Phone:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="txtPhone" required [(ngModel)]="entity.phone" name="phone" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="txtEmail">Email:</label>
            <div class="col-md-5">              
              <input type="text" class="form-control" id="txtEmail" required [(ngModel)]="entity.email" name="email" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
                <button type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>         
                <button class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </div>

      </fieldset>
    </form>
</div>