.black-background {background-color:#000000;}
.white {color:#ffffff;}

.dash-widget .btn {
    height: 150px;
    width: 150px;
}

.icon-label {
    margin-top: 15px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
