﻿<h2 class="text-muted">Dashboard</h2>

<div class="row">

    <div class="col-md-2 dash-widget">
        <div>
            <button routerLink="/organisations" class="btn btn-lg btn-block black-background white" role="button" style="padding: 2px;">
                <div class="fa fa-sitemap fa-3x"></div>
                <div class="icon-label">Organisations</div>
            </button>
        </div>
    </div>

    <div class="col-md-2 dash-widget">
        <div>
            <button routerLink="/administrators" class="btn btn-lg btn-block black-background white" role="button" style="padding: 2px;">
                <div class="fa fa fa-users fa-3x"></div>
                <div class="icon-label">Administrators</div>
            </button>
        </div>
    </div>

    <div class="col-md-2 dash-widget">
        <div>
            <button routerLink="/survey-templates" class="btn btn-lg btn-block black-background white" role="button" style="padding: 2px;">
                <div class="fa fa-pencil-square-o fa-3x"></div>
                <div class="icon-label">
                    Survey<br />Templates
                </div></button>
        </div>
    </div>

    <div class="col-md-2 dash-widget">
        <div>
            <button routerLink="/participants" class="btn btn-lg btn-block black-background white" role="button" style="padding: 2px;">
                <div class="fa fa-user-circle fa-3x"></div>
                <div class="icon-label">
                    Participants
                </div></button>
        </div>
    </div>

    <div class="col-md-2 dash-widget">
        <div>
            <button routerLink="/responses" class="btn btn-lg btn-block black-background white" role="button" style="padding: 2px;">
                <div class="fa fa-file-text-o fa-3x"></div>
                <div class="icon-label">
                    Survey<br />Response
                </div></button>
        </div>
    </div>

</div>
