<div class="row">
    <h2>{{ title }}</h2>
</div>

<div class="row">

    <form novalidate (ngSubmit)="onSubmit()" #form="ngForm" class="form-horizontal">

        <fieldset>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtKey">Survey Key</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtKey" required [(ngModel)]="entity.surveyKey" name="surveyKey" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtOrganisationKey">Organisation Key</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtOrganisationKey" required [(ngModel)]="entity.organisationKey" name="organisationKey"
                    />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtTitle">Title</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtTitle" required [(ngModel)]="entity.title" name="title" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtStatus">Status</label>
                <div class="col-md-5">
                    <select [(ngModel)]="entity.surveyStatus" name="status" class="form-control" id="txtStatus">
                        <option [value]="i" *ngFor="let i of statuses">{{i}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtReleasedDate">Released Date</label>
                <div class="col-md-5">
                    <input type="date" class="form-control" id="txtReleasedDate" readonly [value]="entity.releasedDate | date:'yyyy-MM-dd'" (input)="entity.releasedDate = $event.target.valueAsDate"
                        name="releasedDate" />

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtCompletionDate">Completion Date</label>
                <div class="col-md-5">
                    <input type="date" class="form-control" id="txtCompletionDate" [(ngModel)]="entity.completionDate" name="completionDate"
                    />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="btnDesigner">SurveyJS Designer</label>
                <div class="col-md-5">
                    <button class="btn btn-success" (click)="goToDesigner()" style="margin-left: 10px;" id="btnDesigner">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <span class="label-icon">Survey</span>
                        </button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Participants</label>
                <div class="col-md-5">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">All participants</div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li *ngFor="let item of allParticipants" class="list-group-item" (click)="copyToParticipant(item)" style="cursor:copy">
                                        {{ item.firstName }} {{ item.lastName }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">Survey Participants</div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li *ngFor="let item of surveyParticipants" class="list-group-item" (click)="removeParticipant(item)" style="cursor:copy">
                                        {{ item.firstName }} {{ item.lastName }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtComments">Comments</label>
                <div class="col-md-5">
                    <textarea class="form-control" id="txtComments" [(ngModel)]="entity.surveyComments" name="surveyComments"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtVersion">Survey Template Version</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtVersion" readonly [(ngModel)]="entity.surveyTemplateVersion" name="surveyTemplateVersion"
                    />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9">
                    <button type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>
                    <button class="btn btn-default" (click)="cancel()">Cancel</button>
                </div>
            </div>


        </fieldset>

    </form>

</div>
