﻿<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-dashboard fa-fw"></i>&nbsp;{{ 'dashboard' | translate }}
        </a>
        <a routerLink="/organisations" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-sitemap fa-fw"></i>&nbsp;Organisations
        </a>
        <a routerLink="/administrators" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-users fa-fw"></i>&nbsp;Administrators
        </a>
        <a routerLink="/survey-templates" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-pencil-square-o fa-fw"></i>&nbsp;{{ 'surveyTemplates' | translate }}
        </a>
        <a routerLink="/surveys" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-pencil-square-o fa-fw"></i>&nbsp;Surveys
        </a>
        <a routerLink="/participants" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user-circle fa-fw"></i>&nbsp;Participants
        </a>
        <a routerLink="/responses" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-text-o fa-fw"></i>&nbsp;Survey Response
        </a>
        <!-- <a routerLink="/samples" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-check-square-o fa-fw"></i>&nbsp;Sample Surveys
        </a> -->
    </ul>
</nav>
