<div class="row">
  <h2>Surveys</h2>
</div>
<div class="row">
  <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-btn navbar-left">
          <button class="btn btn-success" (click)="create()" style="margin-left: 10px;">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="label-icon">Create</span>
           </button>
      </div>
  </nav>
</div>
<div class="row" *ngIf="rows.length > 0">
    <ng-table [config]="config" (tableChanged)="onChangeTable(config)" [columns]="columns" [rows]="rows" (cellClicked)="onCellClick($event)"></ng-table>
    
        <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
        </pagination>
</div>