<div class="row">

    <h2>{{ title }}</h2>

</div>

<div class="row">

    <form novalidate (ngSubmit)="onSubmit()" #form="ngForm" class="form-horizontal">

        <fieldset>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtTitle">Title</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtTitle" required [(ngModel)]="entity.title" name="title" disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtKey">Survey Response Key</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtKey" required [(ngModel)]="entity.surveyResponseKey" name="surveyResponseKey"
                        disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtsurveyKey">Survey Key</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtsurveyKey" required [(ngModel)]="entity.surveyKey" name="surveyKey" disabled
                    />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtparticipantKey">Participant Key</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtparticipantKey" required [(ngModel)]="entity.participantKey" name="participantKey"
                        disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtprogress">Progress</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtprogress" required [(ngModel)]="entity.progress" name="progress" disabled
                    />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtOpenedDate">Opened Date</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtOpenedDate" required [(ngModel)]="entity.openedDate" name="openedDate" disabled
                    />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtCompletionDate">Complection Date</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtCompletionDate" required [(ngModel)]="entity.completionDate" name="completionDate"
                        disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="btnDesigner">SurveyJS Designer</label>
                <div class="col-md-5">
                    <button class="btn btn-success" (click)="showResponse()" style="margin-left: 10px;" id="btnDesigner">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span class="label-icon">Survey</span>
                    </button>
                    <br />
                    <br />
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="textToCopy" name="textToCopy" disabled>
                        <span class="input-group-btn">
                            <button class="btn btn-default" [class.btn-success]="isCopied" type="button" ngxClipboard [cbContent]="textToCopy" (cbOnSuccess)="isCopied = true">copy</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtComments">Comments</label>
                <div class="col-md-5">
                    <textarea class="form-control" id="txtComments" [(ngModel)]="entity.responseComments" name="responseComments"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9">
                    <button type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>
                    <button class="btn btn-default" (click)="cancel()">Cancel</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>
