﻿.main-container {
    margin-top: 30px;
    margin-left: 250px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

.accepter-col-action{
    width: 25px;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
