﻿<div class="row">
    <h2>Surveys</h2>
</div>
<div class="row" *ngIf="rows.length > 0">
    <ng-table [config]="config" (tableChanged)="onChangeTable(config)" [columns]="columns" [rows]="rows" (cellClicked)="onCellClick($event)"></ng-table>

    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
        [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
    </pagination>
</div>
