<div class="row">
  <h2>Survey Results</h2>
</div>

<div class="row form-horizontal">

  <div class="form-group">
      <label class="col-md-4 control-label" for="txtKey">Participant:</label>
      <div class="col-md-5">
          <select [(ngModel)]="selectedKey" name="participant" class="form-control">
                  <option [value]="participant.idStr" *ngFor="let participant of participants">{{ participant.firstName }} {{ participant.lastName }} - {{ participant.email }}</option>
              </select>
      </div>
  </div>

  <div class="form-group">
      <div class="col-md-9">
          <button type="submit" class="btn btn-success" (click)="choose()">Show Results</button>
      </div>
  </div>

</div>

<div class="row" *ngIf="items.length > 0">
  <ng-table [config]="config" [columns]="columns" [rows]="items" (cellClicked)="onCellClick($event)"></ng-table>
</div>
