<div class="row">
    <h2>Choose participant (test page)</h2>
</div>

<div class="row form-horizontal">

    <div class="form-group">
        <label class="col-md-4 control-label" for="txtKey">Participant:</label>
        <div class="col-md-5">
            <select [(ngModel)]="selectedKey" name="participant" class="form-control">
                <option [value]="participant.idStr" *ngFor="let participant of participants">{{ participant.firstName }} {{ participant.lastName }} - {{ participant.email }}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-9">
            <button type="submit" class="btn btn-success" (click)="choose()">Choose participant</button>
        </div>
    </div>

</div>
