<div class="row">
    <h2>{{ title }}</h2>
</div>

<div class="row">
    <form novalidate (ngSubmit)="onSubmit()" #form="ngForm" class="form-horizontal">

        <fieldset>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtKey">Participant Key</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtKey" required [(ngModel)]="entity.key" name="key" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtIdentityKey">Identity Key</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtIdentityKey" required [(ngModel)]="entity.identityKey" name="identityKey" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtClientKey">Client Key</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtClientKey" required [(ngModel)]="entity.clientKey" name="clientKey" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtFirstName">First Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtFirstName" required [(ngModel)]="entity.firstName" name="firstName" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtLastName">Last Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtLastName" required [(ngModel)]="entity.lastName" name="lastName" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtPhone">Phone</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtPhone" required [(ngModel)]="entity.phone" name="phone" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="txtEmail">Email</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtEmail" required [(ngModel)]="entity.email" name="email" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9">
                    <button type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>
                    <button class="btn btn-default" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
