<div class="row">
    <h2>{{ title }}</h2>
</div>

<div class="row">

    <form novalidate #form="ngForm" class="form-inline">

        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-btn navbar-left">
                <button type="reset" class="btn btn-default" (click)="goBack()" style="margin-left: 10px;">
                    <i class="fa fa-ban" aria-hidden="true"></i>                    
                    <span class="label-icon">Cancel</span>
                </button>
            </div>
            
        </nav>

        <fieldset>
            <div class="col-md-3">
                <label class="col-md-12" for="txtOrganisationKey">Organisation Key:</label>
                <input class="col-md-12" type="text" class="form-control" id="txtOrganisationKey" required [(ngModel)]="surveyTemplate.organisationKey" name="organisationKey" />
            </div>

            <div class="col-md-3">
                <label class="col-md-12" for="ddlStatus">Status:</label>
                 <select [(ngModel)]="surveyTemplate.status" name="status" class="form-control">
                 <option [value]="i" *ngFor="let i of statuses">{{i}}</option>
                </select> 
            </div>

            <div class="col-md-3">
                <label class="col-md-12" for="txtVersion">Version:</label>
                <input class="col-md-12" type="text" class="form-control" id="txtVersion" required [(ngModel)]="surveyTemplate.version" name="version" />
            </div>
        </fieldset>

    </form>

</div>
<br /><br />
<div class="row">
    <div id="surveyEditorContainer"></div>
</div>

